<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LaboratoryPanelWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LaboratoryPanelWPF.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="DocumentFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="BackgroudImagePath" serializeAs="String">
                <value>C:\Users\karti\Downloads\background.jpg</value>
            </setting>
            <setting name="SidesMargin" serializeAs="String">
                <value>58</value>
            </setting>
            <setting name="TopDocumentMargin" serializeAs="String">
                <value>185</value>
            </setting>
            <setting name="BottomDocumentMargin" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CategoryFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="GroupNameFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ResultTableHeaderFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="TopHeaderMargin" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HeaderTableFontSize" serializeAs="String">
                <value>10</value>
            </setting>
        </LaboratoryPanelWPF.Properties.Settings>
    </userSettings>
</configuration>